table, th, td {
    border: 2px solid black;
  }

  th, td {
    padding: 15px;
    color: blue;
  }
ul {
    color: red;
}
ol {
    color: blueviolet;
    text-align: center;
}
p{
    color: crimson;
}